.text{
    font-family: monospace;
    letter-spacing: 4px ;
    text-align: center;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    animation: 
        typing 1.7s,
        cursos .4s step-end infinite alternate;
}
.text1{
    font-family: monospace;
    color: #FFAB9C;
    letter-spacing: 9px;
}
@keyframes cursor {
    50% {border-color: transparent;}
}
@keyframes typing {
    from {width: 0;}
}
@media screen and (max-width: 768px){
    .section-one{
        flex-direction: column;
        align-items: center;
    }

}