.container-fbtn button {
  font-family: monospace  ;
  position: relative;
  display: inline-block;
  cursor: pointer;
  outline: none;
  border: 0;
  vertical-align: middle;
  text-decoration: none;
  background: transparent;
  padding: 0;
  font-size: inherit;
  font-family: inherit;
}
.container-fbtn button.learn-more-fbtn {
  width: 12rem;
  height: auto;
}
.container-fbtn button.learn-more-fbtn .circle-fbtn {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: relative;
  display: block;
  margin: 0;
  width: 3rem;
  height: 3rem;
  background: #bdd8ab;
  border-radius: 1.625rem;
}
.container-fbtn button.learn-more-fbtn .circle-fbtn .icon-fbtn {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  background: #fff;
}
.container-fbtn button.learn-more-fbtn .circle-fbtn .icon-fbtn.arrow-fbtn {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  left: 0.625rem;
  width: 1.125rem;
  height: 0.125rem;
  background: none;
}
.container-fbtn button.learn-more-fbtn .circle-fbtn .icon-fbtn.arrow-fbtn::before {
  position: absolute;
  content: "";
  top: -0.25rem;
  right: 0.0625rem;
  width: 0.625rem;
  height: 0.625rem;
  border-top: 0.125rem solid #fff;
  border-right: 0.125rem solid #fff;
  transform: rotate(45deg);
}
.container-fbtn button.learn-more-fbtn .button-text-fbtn {
  transition: all 0.45s cubic-bezier(0.65, 0, 0.076, 1);
  position: absolute;
  top: -1.5px;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0.75rem 0;
  margin: 0 0 0 1.85rem;
  color: #282936;
  font-weight: 700;
  line-height: 1.6;
  text-align: center;
  text-transform: uppercase;
}
.container-fbtn button:hover .circle-fbtn {
  width: 100%;
}
.container-fbtn button:hover .circle-fbtn .icon-fbtn.arrow-fbtn {
  background: #fff;
  transform: translate(1rem, 0);
}
.container-fbtn button:hover .button-text-fbtn {
  color: #fff;
}
